commands:

  command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.9.3

container_commands:

      command: "composer install --no-interaction --optimize-autoloader"

      command: "php app/console doctrine:database:drop --force --if-exists"

      command: "php app/console doctrine:database:create"

      command: "php app/console doctrine:schema:create"

      command: "php app/console doctrine:fixtures:load -n"

      command: "php app/console cache:clear -e=prod"


option_settings:
  aws:elasticbeanstalk:application:environment
    document_root: /public
