// Import des variables Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "Quattrocento-Regular.ttf";
//  personnalisations
$primary-color: #C4AE78;
$secondary-color: #6F5B3E;
$white-color: #F9F6F0;
$Black-color: #171515;
$MyFont: "Quattrocento-Regular.ttf";
$MyFontBold: "Quattrocento-Bold.ttf";
$bold: 700;
$fon-weight-bold: $bold;

// Écrase les variables Bootstrap avec mes valeurs personnalisées
$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "light": $white-color,

);

// Importe à nouveau les fichiers Bootstrap pour tenir compte des modifications

@import "bootstrap/scss/variables";


