<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                    Garage V-Perrot
            {% endblock %}
        </title>
    </head>
    <body>
  <h1>Demande de 
  {{ contact.nom }}</h1>
<p> Email : {{ contact.email }}</p>

        <div class="form-group">
            <label for="message">Message :</label>
            <textarea id="message" name="message" class="form-control"></textarea>
        </div>
            <div class="form-group">
                <label for="sujet">information du vehicule</label>
                <input  id="sujet" name="sujet" class="form-control">
            </div>
    </body>
</html>
